/*Shared styles*/

body {
    background-color: #003D5B;
    font-family: roboto, sans-serif;
}

input {
    margin-top: 2px;
    padding: 3px;
    border-radius: 6px;
}

button {
    background-color: #003D5B;
    color: #ffffff;
    width: 10rem;
    height: 2.4rem;
    border: none;
    border-radius: 9px;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: #CBA1F7;
}

a:hover {
    cursor: pointer;
    color: #CBA1F7;
}

.overlay {
    position: fixed;
    background: #ffffff;
    border-radius: 5px;
    padding: 1rem;
    z-index: 2;
    color: #003D5B;
    box-shadow: 0 0 5px 1px #003d5b;
    top: 50%;
    left: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

/*Login page styles*/
.login-page {
    margin-top: 12%;
}

.login-page img {
    max-width: 8rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.login-box {
    background-color: #FFFFFF;
    color: #003D5B;
    width: 22rem;
    padding: 2rem;
    border-radius: 18px;
    justify-content: center;
}

.login-box input {
    width: 16rem;
}

/*App styles*/

body {
    color: #ffffff;
    padding: 2rem;
}

.menu-top {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

/*Manage users*/
.new-user-form {
    height: 15rem;
}

/*Dashboard*/

.dashboard-content, .quiz-editor, .new-user-form {
    background-color: #ffffff;
    color: #003D5B;
    padding: 1rem;
}

.add-new {
    float: right;
}

.quiz-grid {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.quiz-tile {
    border: 1px solid transparent;
    padding: 2rem 1rem;
    margin: 2rem;
    max-width: 18rem;
}

.quiz-tile:hover {
    border: 1px solid #D9BBF9;
    border-radius: 9px;
}

.tile-info {
    height: 6rem;
    width: 11rem;
    border: 1px solid #003D5B;
    border-radius: 9px;
    padding: 0.8rem;
    margin-bottom: 1rem;
    overflow: hidden; /*Set some sort of hover effect for this to show whole title if overflowed*/
}

.quiz-tile button {
    max-width: 4rem;
}

.question {
    min-height: 8rem;
    margin-top: 2rem;
}

.quiz-input {
    margin-left: 1rem;
    width: 32rem;
    padding: 6px;
}

.quiz-answers div, .quiz-answers, .add-question {
    margin-top: 1rem;
}

.quiz-answers {
    margin-bottom: 1rem;
}

.answers-list, .add-option {
    margin-left: 2rem;
}

#quiz-title {
    width: 30rem;
}

.question-input {
    width: 34rem
}

.add-question {
    width: 12rem;
}

